.card-body, .col1, .col2{
    background-color: #7dd3d4 ;
}
.card-body{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.card-title{
    color:#f09b3a;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: bolder;
}
.fondo{
    background: rgb(125,211,212);
    background: linear-gradient(0deg, rgba(125,211,212,1) 0%, rgba(0,212,255,1) 100%);
}
p {
    color: white;
}
i{
    color:#f09b3a;
}
img {
    max-height: 300px;
}
.margen {
    margin-left: 80px;
}
.container {
    min-height: 100vh
}
